body {
	background-color: #222222;
 }

.line {
	fill: none; 
	stroke: #ccff15; 
	stroke-width: 2px;
}

.redline { 
	fill: none;
	stroke: #ccff15;  
	stroke-width: 4px; }

.axis {
	stroke: #ccff15;
}

.axis path {
	stroke: #ccff15;
}

#map {
	margin-left: 10%;
	margin-top: 5%;
}

.chartTitle {
	color: #ccff15;
		stroke: #ccff15; 
}